.App {
  text-align: center;
}
.HeaderRight{
  text-align: right;
  

}
.Headerbuttons{
  text-align: center;

}

.Listproducts{
  font-size: 23px;
  
}

.Buttonproducts{
  border-radius: 20px;
  margin-left: 3%;
}
